# ignore the following

data_scraping/chromedriver.exe
data_scraping/Web_Scrape_Precut
data_scraping/Web_Scrape_Cut
data_scraping/Web_Scrape_Labeled
data_scraping/Web_Scrape_Labeled_2

data_supplement/Self_Record_Precut
data_supplement/Self_Record_Cut
data_supplement/Self_Record_Labeled

data_processing/lite-model_movenet_singlepose_thunder_tflite_float16_4.tflite
data_processing/lite-model_movenet_singlepose_lightning_3.tflite
data_processing/posenet_mobilenet_v1_100_257x257_multi_kpt_stripped.tflite
time_series/pose_videos
time_series/web_scrape
time_series/supplement
time_series/backup
time_series/bad_sr_pose_estimates.txt
time_series/bad_ws_pose_estimates.txt